.red_color{
    color:red;
    font-size: 25px;
}
.red{
    color:red;
}
.red_bag{
    color:red;
}
.green_bag{
    color:green;
}
.off_color{ 
    color:#b3b3b3;
    font-size: 25px;
}
.paddingLeft{
    padding-left: 50px;
}
.loading{
    padding: 7px 7px;
}
.information {
    margin-top: 18px;
    margin-left: -33px;
}
.smallSpiner{
    width: 1rem;
    height: 1rem;
}

.searchWidth {
    width: 315px !important;
}
