<main class="mx-lg-5">
    <div class="mt-5">
      <!-- Heading -->
      <mdb-card class="mb-4 wow fadeIn">
        <!--Card content-->
        <mdb-card-body class="d-sm-flex justify-content-between">
          <h4 class="mb-sm-0 pt-3">
            <!-- <span><mat-icon style="font-size: 35px;">dashboard</mat-icon></span> &nbsp; -->
            <img
              src="../assets/Entergy_logo.png"
              width="150px"
              className="img-fluid"
              alt="icon"
            />
            &nbsp;
            <span class="logo">Meter Control Panel</span>
          </h4>
  
          <form class="d-flex md-form justify-content-center my-0 min-width">
            <!-- Default input -->
            <input
              type="search"
              placeholder="Type the region name to search"
              #searchRegiontemp
              name="searchRegion"
              [(ngModel)]="searchRegion"
              aria-label="Search"
              class="form-control"
              mdbInput
            />
            <button
              mdbBtn
              color="primary"
              size="sm"
              class="my-0 p"
              type="submit"
              (click)="SearchRegion()"
            >
              <mdb-icon fas icon="search"></mdb-icon>
            </button>
          </form>
        </mdb-card-body>
      </mdb-card>
      <!-- Heading -->
      <app-stats-card
        (messageToEmit)="getMessage($event)"
        (isApprovedEmit)="getIsApproved($event)"
      ></app-stats-card>
      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-12 mb-12">
         
  
          <div>
            <div class="row">
              <div class="col-md-12 mx-auto">
                <div class="md-form">
                  <input
                    type="text"
                    [(ngModel)]="searchText"
                    class="form-control"
                    id="search"
                    mdbInput
                  />
                  <label for="search">Search</label>
                </div>
              </div>
            </div>
            <table  
              mdbTable
              #tableEl="mdbTable"
              id="tableSortExample"
              class="z-depth-1"
            >
              
              <thead >
               
                <tr>
                  <th
                    [ngClass]="{ 'th-lg': i !== 0 }"
                    *ngFor="let head of headElements; let i = index"
                    aria-controls="tableSortExample"
                    scope="col"
                    [mdbTableSort]="elements"
                    [sortBy]="headElements[i]"
                  >
                    {{ head | titlecase }}
                    <mdb-icon fas icon="sort"></mdb-icon>
                  </th>
                  <th>Action</th>
                </tr>
                <tr *ngIf="!hasNewMeterData">
                  <th></th> <th></th> <th class="mt-5">
                    <div class="spinner-border text-info " role="status">
                      <span class="sr-only ">Loading...</span>
                    </div>
                  </th> <th></th> <th></th> 
                </tr>
              </thead>
             
              <tbody *ngIf="hasNewMeterData">
                <tr *ngFor="let el of elements; let i = index">
                  <th
                    *ngIf="
                      i + 1 >= mdbTablePagination.firstItemIndex &&
                      i < mdbTablePagination.lastItemIndex
                    "
                    scope="row"
                  >
                    {{ el.meterId }}
                  </th>
                  <td
                    *ngIf="
                      i + 1 >= mdbTablePagination.firstItemIndex &&
                      i < mdbTablePagination.lastItemIndex
                    "
                  >
                    {{ el.location }}
                  </td>
                  <td
                    *ngIf="
                      i + 1 >= mdbTablePagination.firstItemIndex &&
                      i < mdbTablePagination.lastItemIndex
                    "
                  >
                    {{ el.meterName }}
                  </td>
                  <td
                    *ngIf="
                      i + 1 >= mdbTablePagination.firstItemIndex &&
                      i < mdbTablePagination.lastItemIndex
                    "
                  >
                    <mdb-icon
                      fas
                      icon="medkit"
                      *ngIf="el.health === 'Good'"
                      class="mr-2 green_bag"
                      aria-hidden="true"
                    ></mdb-icon>
                    <mdb-icon
                      fas
                      icon="medkit"
                      *ngIf="el.health == 'Bad'"
                      class="mr-2 red"
                      aria-hidden="true"
                    ></mdb-icon>
                    {{ el.health }}
                  </td>
                  
                  <td
                  class="paddingLeft"
                  *ngIf="
                    i + 1 >= mdbTablePagination.firstItemIndex &&
                    i < mdbTablePagination.lastItemIndex
                  "
                >
                  <mdb-icon
                    fas
                    icon="lightbulb"
                    *ngIf="el.isMeterOn == 1"
                    class="mr-2 red_color"
                    aria-hidden="true"
                  ></mdb-icon>
                  <mdb-icon
                    fas
                    icon="lightbulb"
                    *ngIf="el.isMeterOn == 0"
                    class="mr-2 off_color"
                    aria-hidden="true"
                  ></mdb-icon>
                 
                </td>
                  
                  
                  <td
                    *ngIf="
                      i + 1 >= mdbTablePagination.firstItemIndex &&
                      i < mdbTablePagination.lastItemIndex
                    "
                  >
                    <section class="example-section">
                      <mat-slide-toggle
                         *ngIf="!el.isToggling"
                        [(ngModel)]="el.isMeterOn"
                        (change)="toggle($event, el)"
                        class="example-margin"
                        [checked]="el.isMeterOn"
                        [disabled]="!el.isApproved"
                      >
                        Switch to On/Off
                      </mat-slide-toggle>
                      <div  *ngIf="el.isToggling" class="text-center">
                        <div class="spinner-border text-info " role="status">
                          <span class="sr-only ">Loading...</span>
                        </div>
                      </div>
                    </section>
                  </td>
                </tr>
              </tbody>
  
             
  
              <tfoot class="grey lighten-5 w-100">
                <tr>
                  <td colspan="6">
                    <mdb-table-pagination
                      [tableEl]="tableEl"
                      [searchDataSource]="elements"
                    ></mdb-table-pagination>
                  </td>
                </tr>
              </tfoot>
              
            </table>
          </div>
        </div>
      </div>
  
      <!-- <router-outlet></router-outlet> -->
    </div>
  </main>