<app-dash-board  *ngIf="isAuthenticated"></app-dash-board>
 <div class="container" style="justify-content: center; align-items: center; height: 100vh" *ngIf="isAuthenticating" >
  <div class="row card card-block w-38">
    <div class="col-sm-6"  >
      <div class="spinner-border text-info " role="status">
        <span class="sr-only ">Authenticating from sales force</span>
      </div>
    </div>
    <div class="col-sm-6"  >
      <h4>Authenticating from sales force</h4>
    </div>
  </div>
  <div *ngIf="AccessDenied">
    <app-access-denied></app-access-denied>
  </div>
</div>
<app-access-denied *ngIf="AccessDenied"></app-access-denied>

